.resume {
    margin: 0;
    background: rgba(0, 0, 0, 0.864);
}

.resume-page {
    height: 1100px;
    width: 900px;
    background: white;
    margin: 80px auto;
    box-shadow: 2px 2px 2px rgb(177, 177, 177);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

.innerpage {
    font-size: 14px;
    height: 1040px !important;
}

.innerpage span {
    font-weight: bold;
}
hr {
    margin: 1px !important;
    margin-bottom: 1rem !important;
}
h4 {
    margin-bottom: 0px !important;
}
p {
    margin-bottom: 0px !important;
}

/* =============== HEADER ====================*/

.card-img {
    width: 150px !important;
    height: 150px;
    border-radius: 100% !important;
}

.header {
    width: 100%;
    height: 220px;
    padding: 20px 40px;
    margin: 0px;
    background-color: rgb(191, 44, 42);
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.header a {
    color: white;
    font-weight: 200;
    text-decoration: none;
}

.header a:hover {
    color:rgb(245, 80, 77);
}

.person-title {
    font-size: 12px;
    line-height: 1.8;
    padding-top: 16px;
}
.person-title h4 {
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(56, 56, 56);
}
 .person-title .p-title {
    font-size: 18px;
    color: rgb(68, 68, 68);
}
.col-lg-3 {
    height: 100px;
    padding-top: 20px;
}
.col-lg-6 { 
    line-height: 2;
}
.resume-info {
    height: 100px;
    border-left: 1px solid gray;
    padding: 10px 0 0 20px;
}
.section {
    margin-top: 10px;
    line-height: 1.5;
}
.section h4 {
    color:rgb(185, 15, 12);
}
.section h6 {
    font-weight: 400;
}

/* =============== EXPERIENCE ====================*/

.title {
    font-style: italic;
}

.col-xl-8 {
    padding: 10px 20px !important;
}
.col-xl-4 {
    padding: 10px 20px;
    background: rgba(211, 211, 211, 0.5);
    height: 880px;
}

.date {
    float: right;
    font-weight: normal;
    font-size: 14px;
}

.exp-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.exp-ul li {
    padding-bottom: 1px;
}

li.job-list {
    padding-bottom: 10px;
    line-height: 1;
}

.job-list h6 {
    font-weight: bold;
    margin-bottom: 2px !important;
}

.job-duty {
    list-style: square;
    margin-top: 10px;
}

.duty-list {
    line-height: 1.5;
}

/* =============== PROJECTS ====================*/
#projects h4 {
    line-height: 1.5;
}

#projects a {
    font-weight: normal;
}

#projects p {
    padding-left: 20px;
    padding-bottom: 10px;
}
#projects h6 {
    font-weight: 600;
    font-size: 14px;
}
#projects a {
    text-decoration: none;
    color: rgb(185, 15, 12);
}

/* =============== Education ====================*/
#education h6 {
    font-size: 14px;
    font-weight: 400;
}
#education p {
    font-weight: bold;
}

/* =============== Hobbies ====================*/
.hobbies {
    padding-top: 40px;
}





/* ================== Media Queries ================= */

@media screen and (max-width: 992px) {

    .header {
        height: 340px;
        text-align: center;
        margin: 0;
        padding: 20px 0;        
    }

    .col-lg-3 {
        height: 150px;
        padding: 0;
    }
    .person-title {
        margin: 0;
    }
    #objective {
        width: 60%;
        margin-left: 22%;
    }
    .resume-info p {
        display: inline;
        border: none;
    }
    .resume-info p::after{
        content: " |";
        color: black;
    }
    .resume-page {
        margin: 0 !important;
        width: 100%;
        height: 2000px;
    }
    
    .col-xl-4 {
        background: white;
    }
    #experience {
        padding-top: 20px;
    }
    .right-panel {
        height: 100%;
    }
}

/* @media screen and (max-width: 990px) {
    .resume-page {
        width: 100%;
    }
    .innerpage .container {
        margin: 0 !important;
    }

    .innerpage .row {
        width: 100%;
    }
} */